.banner-right{
    background-image: url(../public/assets/images/about/banner-background.webp);
    background-size: contain;
    background-position: center;
    padding: 50px 50px 0px;
    background-repeat: no-repeat;
}
.why_Choose_tab{
    border:3px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px 30px;
    text-align: start;
}
.why_Choose_tab h5{
    color: rgb(0, 0, 0);
}
.why_Choose_tab h3{
    color: rgb(0, 0, 0);
}
.why_Choose_tab p{
    color:#000000 !important;
}
.nav-link.active {
    outline: none;
}
.nav-link.active .why_Choose_tab{
    border: 3px solid #8b5ca7;
}
.nav-link.active .why_Choose_tab p{
 color: black;
}
.nav-link.active .why_Choose_tab h5{
 color: #8b5ca7;
}
.nav-link.active .why_Choose_tab h3{
 color: #8b5ca7;
}
.about-bx {
padding: 15px;
transition: all 0.4s ease-in-out;
}
.about-bx:hover{
box-shadow: 0px 0px 10px rgb(0 0 0/17%);
}
.logoshape{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
}
.topdown {
    -webkit-animation: topdown 1.5s ease-in-out 0s infinite alternate;
    animation: topdown 1.5s ease-in-out 0s infinite alternate;
    animation-duration: 3s;
}
@keyframes topdown {
    0% {
        -webkit-transform: rotateX(0deg) translateY(0px);
        -moz-transform: rotateX(0deg) translateY(0px);
        -ms-transform: rotateX(0deg) translateY(0px);
        -o-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px);
    }

    50% {
        -webkit-transform: rotateX(0deg) translateY(-20px);
        -moz-transform: rotateX(0deg) translateY(-20px);
        -ms-transform: rotateX(0deg) translateY(-20px);
        -o-transform: rotateX(0deg) translateY(-20px);
        transform: rotateX(0deg) translateY(-20px);
    }

    100% {
        -webkit-transform: rotateX(0deg) translateY(0px);
        -moz-transform: rotateX(0deg) translateY(0px);
        -ms-transform: rotateX(0deg) translateY(0px);
        -o-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px);
    }
}